body,
html {
    height: 95vh;
    display: flex;
    flex-direction: column;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('/img-lista/img-mercado.jpg');
    backdrop-filter: blur(0.5px);
}

header {
    height: 60px;
    padding: 10px;
    background-color: #007bff;
}

h1 {
    text-align: center;
}

.bi-trash3 {
    position: relative;
    bottom: 30px;
    color: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: end;
}

main {
    margin: auto;
    padding-top: 10px;
    text-align: center;
    background-color: white;
    border-radius: 8px;
    width: 90%;
}

ul {
    padding: 0;
}

label {
    font-size: 1.3rem;
}

input {
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
}

input:focus {
    border: 2px solid #007bff;
    outline: none;
}

.marcado {
    height: 18px;
    width: 50px;
}

.marcado:checked {
    li {
        text-decoration: line-through;
    }
}

button {
    margin-left: 8px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border: none;
}

.bi-x {
    display: none;
    margin-right: 8px;
}

.bi-bag-plus-fill {
    font-size: 1.2rem;
}

li {
    list-style-type: none;
}

footer {
    background-color: #ccc;
    padding: 10px;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 10;
    left: 0;
    right: 0;
}